///////////////////////////////////////////////////////////
//
// Base styles
//
///////////////////////////////////////////////////////////
html {
    background: $page-background;
    font-family: $default-font-stack;
    color: $text-color;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // Avoid horizontal squeeze under minimum mobile screen width
    min-width: 320px;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
    color: inherit;
}

strong {
    font-weight: $font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-font-stack;
    font-weight: $font-weight-normal;
    line-height: normal;
}

h1 {
    font-size: $font-size-huge;
    text-align: center;
    margin: ($whitespace * 2) $whitespace;

    .back-button + & {
        // Make room for back button
        margin: ($whitespace * 2) ($whitespace * 3);
    }
}

h2 {
    font-size: $font-size-large;
}

h3 {
    font-size: $font-size-medium;
}

h4 {
    font-size: $font-size-regular;
}