// Keep time values in sync with JavaScript in animatable_region.coffee
$animation-duration: 200ms;
$animation-page-flip-duration: 400ms;

.maji-viewport-transitioning {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.maji-page-pre-in {
  opacity: 0;
}

.maji-page-animated {
  animation-fill-mode: both;
  animation-duration: $animation-duration;
}

.maji-page-slide {
  &.maji-page-in {
    animation-name: majiPageSlideInRight;
  }

  &.maji-page-out { animation-name: majiPageSlideOutLeft; }

  &.maji-page-reverse {
    &.maji-page-in { animation-name: majiPageSlideInLeft; }
    &.maji-page-out { animation-name: majiPageSlideOutRight; }
  }
}

.maji-page-slideup {
  &.maji-page-in { animation-name: majiPageSlideInUp; }
  &.maji-page-out { animation-name: majiPageFadeOut; }

  &.maji-page-reverse {
    &.maji-page-in {
      animation-name: majiPageFadeIn;
      animation-delay: 100ms;
    }

    &.maji-page-out { animation-name: majiPageSlideOutDown; }
  }
}

.maji-page-flip {
  backface-visibility: hidden;
  animation-duration: $animation-page-flip-duration;

  &.maji-page-in { animation-name: majiPageFlipInLeft; z-index: 2; }
  &.maji-page-out { animation-name: majiPageFlipOutRight; }

  &.maji-page-reverse {
    &.maji-page-in { animation-name: majiPageFlipInRight; }
    &.maji-page-out { animation-name: majiPageFlipOutLeft; }
  }
}

@keyframes majiPageFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes majiPageFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes majiPageSlideInUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes majiPageSlideOutDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes majiPageSlideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes majiPageSlideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes majiPageSlideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes majiPageSlideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes majiPageFlipOutRight {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(180deg);
  }
}

@keyframes majiPageFlipInLeft {
  0% {
    transform: perspective(400px) rotateY(-180deg);
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

@keyframes majiPageFlipInRight {
  0% {
    transform: perspective(400px) rotateY(180deg);
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

@keyframes majiPageFlipOutLeft {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(-180deg);
  }
}
