
///////////////////////////////////////////////////////////
//
// Base brand colors
//
///////////////////////////////////////////////////////////
$brand-black:       #000;
$brand-white:       #fff;
$brand-grey-medium: #777;
$brand-grey-dark:   #333;
$brand-red:         #f00;
$brand-green:       #0f0;
$brand-blue:        #009cff;

///////////////////////////////////////////////////////////
//
// General colors
//
///////////////////////////////////////////////////////////
$text-color: $brand-black;
$text-color-light: $brand-white;
$page-background: $brand-white;

///////////////////////////////////////////////////////////
//
// Button colors
//
///////////////////////////////////////////////////////////
$primary-button-background: $brand-blue;
$primary-button-text: $brand-white;

$secondary-button-background: $brand-grey-medium;
$secondary-button-text: $brand-white;

///////////////////////////////////////////////////////////
//
// Header
//
///////////////////////////////////////////////////////////
$header-background: $brand-blue;
$header-text: $text-color-light;

///////////////////////////////////////////////////////////
//
// Navigation list
//
///////////////////////////////////////////////////////////
$navigation-list-border: $brand-grey-medium;
$navigation-list-chevron: $brand-blue;
