$prefix-for-mozilla: false;
$animation-duration: 350ms;

.viewport-transitioning {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.page-pre-in {
  opacity: 0;
}

.animated {
  animation-fill-mode: both;
  animation-duration: $animation-duration;
}

.slide {
  &.in {
    animation-name: slideInRight;
    animation-delay: -2ms;
  }

  &.out { animation-name: slideOutLeft; }

  &.reverse {
    &.in { animation-name: slideInLeft; }
    &.out { animation-name: slideOutRight; }
  }
}

.slideup {
  &.in { animation-name: slideInUp; }
  &.out { animation-name: fadeOut; }

  &.reverse {
    &.in {
      animation-name: fadeIn;
      animation-delay: 100ms;
    }

    &.out { animation-name: slideOutDown; }
  }
}

.flip {
  backface-visibility: hidden;
  animation-duration: 750ms;

  &.in { animation-name: flipInLeft; z-index: 2; }
  &.out { animation-name: flipOutRight; }

  &.reverse {
    &.in { animation-name: flipInRight; }
    &.out { animation-name: flipOutLeft; }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes flipOutRight {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(180deg);
  }
}

@keyframes flipInLeft {
  0% {
    transform: perspective(400px) rotateY(-180deg);
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

@keyframes flipInRight {
  0% {
    transform: perspective(400px) rotateY(180deg);
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

@keyframes flipOutLeft {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(-180deg);
  }
}

@keyframes rotating {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(359deg);
  }
}

@keyframes bounce {

  0%, 30% {
    transform: translateY(0%);
  }

  40% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0%);
  }

  60% {
    transform: translateY(-50%);
  }

  70%, 100% {
    transform: translateY(0%);
  }
}
