$color-primary: #004c9c;
$color-primary-text: #fff;

$color-header-bg: $color-primary;
$color-header-text: #fff;

$color-form-input-bg: #fff;
$color-form-input-border: #ccc;
$color-form-input-border-focus: #b5b5b5;
