$color-primary: #004c9c;
$color-primary-text: #fff;

$color-header-bg: $color-primary;
$color-header-text: #fff;

$color-form-input-bg: #fff;
$color-form-input-border: #ccc;
$color-form-input-border-focus: #b5b5b5;

$color-link: #000;
$color-page-background: #fff;
$color-listview-li-border: #e8e8e8;
