$color_primary: #004c9c;
$color_primary_text: #fff;

$color_header_bg: $color_primary;
$color_header_text: #fff;

$color_form_input_bg: #fff;
$color_form_input_border: #cccccc;
$color_form_input_border_focus: #B5B5B5;
