@import 'src/styles/settings/colors';
@import 'src/styles/settings/typography';

$header-background: $brand-blue;
$header-text: $text-color-light;
$header-height: 3rem;
$header-ios-offset: 16px;
$header-button-width: $header-height;

$btn-fill: $brand-white;
$btn-height: 20px;
$btn-width: 16px;

.header {
  background: $header-background;
  color: $header-text;
  height: $header-height;

  display: flex;
  justify-content: center;
  align-items: center;

  // Make room for iOS bar
  :global(.platform-ios) & {
      height: calc(#{$header-height} + #{$header-ios-offset});
      padding-top: $header-ios-offset;
  }

  a,
  h1 {
    font-size: $font-size-regular;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    width: $header-button-width;
  }

  h1 {
    flex: 1;

    &:first-child {
      // Compensate for no button on the left side
      margin-left: $header-button-width;
    }

    &:last-child {
      // Compensate for no button on the right side
      margin-right: $header-button-width;
    }
  }
}

.icon {
  opacity: "0.5";
  fill: $btn-fill;
  height: $btn-height;
  width: $btn-width;
}
