@import 'src/styles/settings/general';

.main {
    background: $page-background;
    color: $text-color;
    overflow-y: auto;
    flex: auto;
    padding: $page-padding;

    p {
        margin-bottom: 1em;
    }
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
