///////////////////////////////////////////////////////////
//
// Main content for your application
//
///////////////////////////////////////////////////////////
.app-content {
    background: $page-background;
    color: $text-color;

    overflow-y: auto;
    flex: 1;
    padding: $page-padding;

}