///////////////////////////////////////////////////////////
//
// List of clickable links
//
///////////////////////////////////////////////////////////
.navigation-list {
    li {
        margin-left: -$page-padding;
        margin-right: -$page-padding;
        border-bottom: 1px solid $navigation-list-border;

        &:first-child {
            border-top: 1px solid $navigation-list-border;
        }
    }

    a {
        @include icon(forward, after);

        height: $navigation-list-height;
        padding: 0 $page-padding;
        display: flex;
        align-items: center;

        span {
            flex: 1;
        }

        &::after {
            color: $navigation-list-chevron;
        }
    }
}
