@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url('fonts/lato-regular.woff') format('woff'),
    url('fonts/lato-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url('fonts/lato-bold.woff') format('woff'),
    url('fonts/lato-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
    local('Lato-Black'),
    url('fonts/lato-black.woff') format('woff'),
    url('fonts/lato-black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),
    local('Lato-Italic'),
    url('fonts/lato-italic.woff') format('woff'),
    url('fonts/lato-italic.ttf') format('truetype');
}@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url('fonts/lato-regular.woff') format('woff'),
    url('fonts/lato-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url('fonts/lato-bold.woff') format('woff'),
    url('fonts/lato-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
    local('Lato-Black'),
    url('fonts/lato-black.woff') format('woff'),
    url('fonts/lato-black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),
    local('Lato-Italic'),
    url('fonts/lato-italic.woff') format('woff'),
    url('fonts/lato-italic.ttf') format('truetype');
}
