<?xml version='1.0' encoding='utf-8'?>
<widget id="##APP_PACKAGE##" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>##APP_NAME##</name>
    <description></description>
    <content src="index.html" />
    <access origin="*" />

    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Orientation" value="portrait" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />

    <!-- allows programmatic focus() calls to trigger the keyboard on iOS -->
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />

    <!-- only for android -->
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="1500" />

    <!-- target Android SDK versions //-->
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="19" />

    <!-- disable icloud storage sync -->
    <preference name="BackupWebStorage" value="local"/>

    <!-- plugins -->
    <feature name="Splashscreen">
        <param name="id" value="org.apache.cordova.splashscreen" />
    </feature>
    <feature name="Network Activity Plugin for Cordova iOS">
        <param name="id" value="com.mallzee.plugin.networkactivity" />
        <param name="url" value="https://github.com/mallzee/network-activity.git#0904b83c3109560bad8e7dd9be1320bb9303899d" />
    </feature>

</widget>
