///////////////////////////////////////////////////////////
//
// Media object
//
///////////////////////////////////////////////////////////
.media {
    display: flex;
    align-items: flex-start;
}

.media-image {
    margin-right: 0.5em;

    &.right {
        margin-right: auto;
        margin-left: 0.5em;
    }
}

.media-body {
    flex: 1 0 auto;

    &.center {
        align-self: center;
    }
}
