.platform-ios {
  $offset-top: 15px;

  #maji-app {
    margin-top: $offset-top;
  }

  .header {
    &:before {
      content: '';
      background: $color-header-bg;
      height: $offset-top;
      display: block;
      position: absolute;
      left: 0; right: 0;
      top: -$offset-top;
    }
  }
}
