///////////////////////////////////////////////////////////
//
// Base brand colors
//
///////////////////////////////////////////////////////////
$brand-black: #1a171b;
$brand-white: #fff;
$brand-grey-lightest: #f5f6f6;
$brand-grey-light: #cdcdcd; // 50% of grey medium
$brand-grey-medium: #9b9b9b;
$brand-grey-dark: #4a4a4a;
$brand-red: #f26171;
$brand-green: #0f0;   // TODO: apply brand color
$brand-blue: #29bde2;
$brand-blue-gradient: #007da9;
$brand-logo-color: #356379;

///////////////////////////////////////////////////////////
//
// General colors
//
///////////////////////////////////////////////////////////
$text-color: $brand-black;
$text-color-medium: $brand-grey-medium;
$text-color-light: $brand-white;
$text-color-highlight: $brand-blue;
$text-color-link: $brand-blue;
$page-background: $brand-grey-lightest;
$page-background-light: $brand-white;
$general-border-color: $brand-grey-light;
