///////////////////////////////////////////////////////////
//
// Generic values
//
///////////////////////////////////////////////////////////
$whitespace: 1rem;
$border-radius: 0.5rem;
$border-radius-small: 0.125rem;
$easing: cubic-bezier(0.4, 0, 0.2, 1); // Uniform animation easing
